In [27]:
import pandas as pd
import numpy as np

In [28]:
ratings = pd.read_csv('ratings.csv', sep = ";")

In [29]:
ratings.head(5)

   User-ID        ISBN  Book-Rating
0   276725  034545104X            0
1   276726  0155061224            5
2   276727  0446520802            0
3   276729  052165615X            3
4   276729  0521795028            6

In [30]:
ratings = ratings[ratings['Book-Rating'] != 0]

In [31]:
ratings.head()

   User-ID        ISBN  Book-Rating
1   276726  0155061224            5
3   276729  052165615X            3
4   276729  0521795028            6
6   276736  3257224281            8
7   276737  0600570967            6

In [32]:
ratings.shape

(433671, 3)

In [33]:
user_core = ratings.groupby("User-ID").count().drop('ISBN', 1)

In [34]:
user_core['user_id'] = user_core.index

In [35]:
user_core = user_core[user_core['Book-Rating'] > 4]

In [36]:
keep_users = list(user_core['user_id'])

In [37]:
len(keep_users)

14220

In [38]:
ratings = ratings[ratings['User-ID'].isin(keep_users)]

In [39]:
ratings.shape

(340341, 3)

In [40]:
books_core = ratings.groupby("ISBN").count().drop('User-ID', 1)
books_core.head(5)

               Book-Rating
ISBN
 0375404120              1
 9022906116              1
#6612432                 1
)416195113               1
0 00 655241 2            1

In [41]:
books_core['book_id'] = books_core.index

In [42]:
books_core = books_core[books_core['Book-Rating'] > 4]

In [43]:
books_core.head()

            Book-Rating     book_id
ISBN
0002005018            7  0002005018
0002251760            6  0002251760
0002259001            5  0002259001
0003300277            5  0003300277
0006374921            5  0006374921

In [44]:
books_users = list(books_core['book_id'])

In [45]:
len(books_users)

11234

In [46]:
ratings = ratings[ratings['ISBN'].isin(books_users)]

In [47]:
ratings.shape

(141081, 3)

In [49]:
counter = 0
hash_dict = {}

for i,r in ratings.iterrows():
    
    if r[1] not in hash_dict:
        
        hash_dict[r[1]] = counter
        counter += 1
        
    else:
        continue

In [50]:
ratings['book_id'] = ratings['ISBN']

In [51]:
for i, r in ratings.iterrows():
    isbn = r[3]
    new_val = hash_dict[isbn]
    ratings = ratings.set_value(i,'book_id', new_val)

In [52]:
ratings.tail(5)

         User-ID        ISBN  Book-Rating book_id
1149743   276688  0836218655           10    2334
1149744   276688  0836236688           10     198
1149746   276688  1551669315            6    5249
1149761   276704  0345386108            6     377
1149771   276704  0743211383            7    5023

In [54]:
ratings.shape

(141081, 4)

In [55]:
ratings.to_csv('ratings_5_explicit.csv', header = False, index = False)