In [1]:
import pandas as pd
import numpy as np

### Amazon

In [9]:
amazon = pd.read_csv('amazon.csv', header = None)
amazon.columns = ['User', 'Item', 'Rating']
amazon.head(2)

   User  Item  Rating
0     0     0       5
1     0  5925       4

In [17]:
print 'Users:', len(amazon['User'].unique())
print 'Items:', len(amazon['Item'].unique())
print 'Ratings:', amazon.shape[0]
print 'Total Size:', len(amazon['User'].unique()) * len(amazon['Item'].unique())
print 'Dense:', float(amazon.shape[0])/(float(len(amazon['User'].unique())) * \
                                        float(len(amazon['Item'].unique())))

Users: 66519
Items: 28237
Ratings: 551682
Total Size: 1878297003
Dense: 0.00029371393295

### Book Crossing

In [18]:
books = pd.read_csv('book_crossing.csv', header = None)
books.columns = ['User', 'Item', 'Rating']
books.head(2)

     User  Item  Rating
0  276746     0       1
1  276746     1       1

In [19]:
print 'Users:', len(books['User'].unique())
print 'Items:', len(books['Item'].unique())
print 'Ratings:', books.shape[0]
print 'Total Size:', len(books['User'].unique()) * len(books['Item'].unique())
print 'Dense:', float(books.shape[0])/(float(len(books['User'].unique())) * \
                                        float(len(books['Item'].unique())))

Users: 21915
Items: 39702
Ratings: 608766
Total Size: 870069330
Dense: 0.000699675277601

### Yelp

In [20]:
yelp = pd.read_csv('yelp.csv', header = None)
yelp.columns = ['User', 'Item', 'Rating']
yelp.head(2)

    User  Item  Rating
0  10000     0       5
1  10001     1       5

In [21]:
print 'Users:', len(yelp['User'].unique())
print 'Items:', len(yelp['Item'].unique())
print 'Ratings:', yelp.shape[0]
print 'Total Size:', len(yelp['User'].unique()) * len(yelp['Item'].unique())
print 'Dense:', float(yelp.shape[0])/(float(len(yelp['User'].unique())) * \
                                        float(len(yelp['Item'].unique())))

Users: 8043
Items: 5199
Ratings: 141454
Total Size: 41815557
Dense: 0.00338280798221

### Movie Lens

In [22]:
movie = pd.read_csv('movie_lens.csv', header = None)
movie.columns = ['User', 'Item', 'Rating']
movie.head(2)

   User  Item  Rating
0     1   661       3
1     1   914       3

In [23]:
print 'Users:', len(movie['User'].unique())
print 'Items:', len(movie['Item'].unique())
print 'Ratings:', movie.shape[0]
print 'Total Size:', len(movie['User'].unique()) * len(movie['Item'].unique())
print 'Dense:', float(movie.shape[0])/(float(len(movie['User'].unique())) * \
                                        float(len(movie['Item'].unique())))

Users: 6040
Items: 3706
Ratings: 1000208
Total Size: 22384240
Dense: 0.044683580948